<script> 
function deleteRow(tableID,currentRow) {
console.log(currentRow);

}
</script>




<h1>Add New Exercise</h1>

<form method="post" >
    <p>Name:</p>
    <p><input type="text" name="name"></p>

    <p>Reps:</p>
    <p><input type="number" name="reps"></p>
    
    <p>Weight:</p>
    <p><input type="number" name="weight"></p>
    
    <p>Date:</p>
    <p><input type="text" name="date"></p>
    

    
    <div>
    <label for="lbs"> Measure in Pounds?</label>
    <select name="lbs">
        <option value="true">True </option>
        <option value="false">False</option>
    </select>
  </div>
  <p><input type="submit" name="submit"
      
  </p>
</form>

<h1>List of Excercises</h1>

<table id="dataTable">
    <caption> My Exercises </caption>
    <thead>
        <th> Name </th>
        <th> Reps</th>
        <th> Weight </th>
        <th> Date (yyyy-mm-dd) </th>
        <th> Lbs (True) or Kgs(false) </th>
    </thead>
    <tbody>
        <tr>{{#each results}}
            <td>{{this.name}}
            <td>{{this.reps}}
            <td>{{this.weight}}
            <td>{{this.date}}
            <td>{{this.lbs}}
            <td><form method="post" action="/update">
                        <p><input type="hidden" name="updateID" value="{{this.id}}"></p>
                        <p><input type="submit" name="update" value="Edit"</p>
                </form>
            <td><form method="post" >
                        <p><input type="hidden" name="deleteID" value="{{this.id}}"></p>
                        <p><input type="submit" name="delete" value="Delete"</p>
                </form>
                   
        
        </tr> {{/each}}
        
    </tbody>
</table>

