<div class="add">
<h1>Update View</h1>

<form method="post"  action="/">
    <p>Name:</p>
    <p><input type="text" name="name" value="{{info.0.name}}"></p>

    <p>Reps:</p>
    <p><input type="number" name="reps" value="{{info.0.reps}}"></p>
    
    <p>Weight:</p>
    <p><input type="number" name="weight" value="{{info.0.weight}}"></p>
    
    <p>Date:</p>
    <p><input type="text" name="date"  value="{{info.0.date}}"></p>
    
     <div>
    <label for="lbs"> Measure in Pounds?</label>
    
    <select name="lbs">
        <option value="1" selected > LBS </option>
        <option value="0">KGS</option>
    </select>
  
    
    
  </div>
    
    <p><input type="hidden" name="updateID" value="{{info.0.id}}"></p>
    

    
  <p><input type="submit" name="submit"
      
  </p>
</form>
</div>
