<h1>Update View</h1>

<form method="post"  action="/update-do">
    <p>Name:</p>
    <p><input type="text" name="name" value="{{info.0.name}}"></p>

    <p>Reps:</p>
    <p><input type="number" name="reps" value="{{info.0.reps}}"></p>
    
    <p>Weight:</p>
    <p><input type="number" name="weight" value="{{info.0.weight}}"></p>
    
    <p>Date:</p>
    <p><input type="text" name="date"  value="{{info.0.date}}"></p>
    
     <div>
    <label for="lbs"> Measure in Pounds?</label>
    
    
    
    <select name="lbs">
        <option value="{{info.0.lbs}} selected">Previous Unit </option>
        <option value="1" >True </option>
        <option value="0">False</option>
    </select>
  </div>
    
    <p><input type="hidden" name="updateID" value="{{info.0.updateID}}"></p>
    

    
  <p><input type="submit" name="submit"
      
  </p>
</form>
<h1>Test: {{info.0.updateID}}</h1>
